<div class="container">
  <div class="form-group">
    <div class="formulario">
      <form >
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Nome</mat-label>
        <input class="mat-input" matInput placeholder="Simple placeholder" />
      </mat-form-field>
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Nome</mat-label>
        <input class="mat-input" matInput placeholder="Simple placeholder" />
      </mat-form-field>
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Nome</mat-label>
        <input class="mat-input" matInput placeholder="Simple placeholder" />
      </mat-form-field>


    </form>
    <div class="example-button-row">
      <button  class="cancel-btn" mat-flat-button color="warn">Cancelar</button>
      <button class="submit-btn" mat-flat-button color="primary">Pesquisar</button>

    </div>
    </div>
  </div>
</div>
