<div class="container">
  <div class="form-group">
    <div class="formulario">
      <form >
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Position</mat-label>
        <input [(ngModel)]="positionInput" name="positionInput" class="mat-input" matInput placeholder="Element position" />
      </mat-form-field>
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="nameInput" name="nameInput" class="mat-input" matInput placeholder="Element Name" />
      </mat-form-field>
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Weight</mat-label>
        <input [(ngModel)]="weightInput" name="weightInput" class="mat-input" matInput placeholder="Element weight" />
      </mat-form-field>
      <mat-form-field [floatLabel]="floatLabel()">
        <mat-label>Symbol</mat-label>
        <input [(ngModel)]="symbolInput" name="symbolInput" class="mat-input" matInput placeholder="Element symbol" />
      </mat-form-field>

      <div class="example-button-row">
        <button class="submit-btn" mat-flat-button color="primary" (click)="enviaDadosTabela()" >Pesquisar</button>
      </div>

    </form>

    </div>
  </div>
</div>
